<template>
    <div class="bg-light">
        <div class="container bg-white pt-3">
            <img src="../../images/ztu.jpg" class="mb-3 img-fluid" alt="">
            <h2>Про нас:</h2>
            <p>Проект "Притулок для тваринки" було створено в якості курсового проекту з дисципліни "Інтернет-програмування" студентом Коритним А.С.</p>
            <p>Всі матеріали, картинки, інформація взята з мережі Інтернет.</p>          
        </div>
    </div>
</template>
