<template>
    <div class="album py-5 bg-light">
       <div class="container">
            <div class="card card-default mb-2">
                <div class="card-header">Завантаження картинки (max: 2048KB)</div>
                    <div class="card-body">
                        <div class="row">
                            <div>
                                <input type="file" v-on:change="onImageChange" class="form-control">
                            </div>
                        </div>
                    </div>
                <div class="card-group">
                    <div class="card col-md-3" v-for="(img, i) in imagePreview" :key="i">
                       <div class="">
                            <button type="button" class="close" aria-label="Close" v-on:click="deleteImage(i)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img class="card-img-top" :src="img" alt="Card image cap">
                    </div>
                </div>
            </div>
           
           <form class="form-group" @submit.prevent="fetchArticle" method="post">
               <input class="form-control mb-2" type="text" v-model="title" />
               <textarea class="form-control mb-2" name="" rows="6" v-model="body"></textarea>
                <input type="submit" class="btn btn-success" value="Зберегти"/>
           </form>
       </div>
    </div>
</template>
<script>
export default {
     data(){
        return {
            title: "",
            body: "",
            isAuthorized: false,
            user_id: -1,
            imageFileData: [],
            imagePreview: []
        }
    },
    methods: {
        fetchUser(){
            fetch(`/api/auth/user?token=${localStorage.getItem('current_token')}`)
            .then(res => res.json())
            .then(res => {
                this.user_id = res.data.id;
                this.isAuthorized = true;
            })
            .catch(err => {
                console.log(err);
                this.isAuthorized = false;
            })
        },
        fetchArticle(){
            if(!this.isAuthorized){
                alert("Ви не ввійшли в акккаунт");
                this.$router.push('/login');
                return;
            }
            let self = this;
            fetch("/api/articles", {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'POST',
                body: JSON.stringify({
                    title: self.title,
                    body: self.body,
                    author_id: self.user_id
                })
            })
            .then(res => res.json())
            .then(res => this.uploadImages(res.id))
            .catch(err=> console.log(err));
        },
        onImageChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            reader.onload = (e) => {
                this.imageFileData.push(file);
                this.imagePreview.push(e.target.result);
            };
            reader.readAsDataURL(file);
        },
        uploadImages(id){
            if(this.imageFileData.length !== 0){
                this.uploadImage(id);
            }
            alert('Запис успішно створено!');
            this.$router.push('/');
        },
        uploadImage(id){
            let fd = new FormData();
            fd.append('image', this.imageFileData.shift());
            fd.append('article_id', id);
            fetch('/api/image', {
                method: "POST",
                body: fd
            })
            .then(() => {
                if(this.imageFileData.length !== 0){
                    this.uploadImage(id);
                }
            })
        },
        deleteImage(id){
            this.imagePreview.splice(id, 1);
            this.imageFileData.splice(id, 1);
        }
    },
    mounted(){
        this.fetchUser();
    }
}
</script>
