<template>
    <div class="album py-5 bg-light">
       <div class="container">
           <div class="row">
            <div class="col-md-6" v-for="(article, i) in articles" v-bind:key="i">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="card-img-top mb-3 bg-secondary" style="width: auto;">
                        <img  style="object-fit: cover; display: block; width: auto; max-width: 100%; margin: 0 auto; max-height: 600px;" 
                            v-if="article.images[0]" :src="'http://kurswork.net/api/image/'+article.images[0].id" alt="Card image cap">
                    </div>
                  <h3>{{article.title}}</h3>
                  <p class="card-text">{{ formatArticleText(article.body) }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <router-link :to="'/article/'+article.id" tag="button" class="btn btn-sm btn-outline-secondary">Переглянути</router-link>
                    </div>
                    <small class="text-muted">{{article.created_at}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
       <nav class="container">
        <ul class="pagination">
            <li class="page-item" v-bind:class="{'disabled': !pagination.prev_page }"><a class="page-link" href="#" v-on:click="fetchArticles(pagination.prev_page)">Назад</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">{{pagination.current_page}}</a></li>
            <li class="page-item" v-bind:class="{'disabled': !pagination.next_page }"><a class="page-link" href="#" v-on:click="fetchArticles(pagination.next_page)">Вперед</a></li>
        </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                articles: [],
                pagination: {}
            }
        },
        methods: {
            fetchArticles(page_url){
                let vm = this;
                page_url = page_url || 'api/articles';
                fetch(page_url)
                .then(res => res.json())
                .then(res => {
                   this.articles = res.data;
                   vm.makePagination(res.meta, res.links);
                })
                .catch(err=> console.log(err));
            },
            makePagination(meta, links){
                this.pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page: links.next,
                    prev_page: links.prev
                }
            },
            formatArticleText(text){
                if(text.length > 265){
                    return text.slice(0,264) + '...';
                }
                return text;
            }
        },
        created(){
            this.fetchArticles();
        }
    }
</script>
