<template>
    <div class="album py-5 bg-light">
       <div class="container">
           <div class="col-md-12">
              <div class="card mb-4 shadow-sm" >
                <div class="card-body">
                  <my-carousel :images-url="imagesLinksArray"></my-carousel>
                  <h3 class="mt-3">{{article.title}}</h3>
                  <p class="card-text">{{article.body}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <router-link :to="'/article/'+id+'/edit'" tag="button" v-if="isUserAuthor" class="btn btn-sm btn-outline-secondary">Редагувати</router-link>
                      <button class="btn btn-sm btn-outline-secondary" v-if="isUserAuthor" v-on:click="deleteArticle">Видалити</button>
                    </div>
                    <small class="text-muted">{{article.created_at}}</small>
                  </div>
                </div>
              </div>
              <hr>
              <div class="mb-4">
                <p class="text-info" v-if="article.comments"> 
                      Кількість коментарів: {{ article.comments.length }}
                </p>
              </div>
              <p v-if="!isAuthorized" class="text-danger">Щоб прокоментувати, необхідно здійснити вхід!</p>
              <form v-bind:class="{'disabled-form': !isAuthorized}" @submit.prevent="sendNewComment" method="post">
                <div class="form-row align-items-center">
                    <div class="col-7 form-group">
                        <textarea maxlength="190" class="form-control mb-2" id="inlineFormInput" placeholder="Коментувати" 
                            v-model="newCommentText"></textarea>
                    </div>
                    <div class="col-auto form-group align-self-start">
                        <input type="submit" class="btn btn-primary mb-2" value="Відправити"/>
                    </div>
                </div>
              </form>
              
              <div class="col col-lg-8">
                <div class="panel panel-white post panel-shadow mt-2" v-for="comment in article.comments" :key="comment.id">
                     <hr>
                    <div class="post-heading">
                        <div class="user-panel" v-if="user_id === comment.author_id">
                            <button type="button" class="close" aria-label="Close" v-on:click="deleteComment(comment.id)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <button type="button" class="close mr-3" style="font-size: 16px; padding-top: 6px;" aria-label="Close" 
                                v-on:click="enableCommentMode(comment.id, comment.text)">
                                <span aria-hidden="true">&#128295;</span>
                            </button>
                        </div>
                        <div class="pull-left image float-left mr-3">
                            <img src="../../icons/avatar.png" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h7 text-primary">
                               <b>{{ comment.author_name }}</b>
                            </div>
                        </div>
                    </div> 
                    <div class="post-description mt-2"> 
                        <p v-if="commentIdEditIndex !== comment.id">
                            <span v-html="comment.text"></span>
                        </p>
                        <form v-else @submit.prevent="editComment(comment.id)" method="PUT">
                            <div class="form-row align-items-center">
                                <div class="col-12">
                                    <textarea maxlength="190" class="form-control mb-2" id="inlineFormInput" placeholder="Редагувати" 
                                        v-model="editCommentText"></textarea>
                                </div>
                                <div class="col-12 form-group align-self-start">
                                    <input type="submit" class="btn btn-primary mb-2 d-block ml-auto" value="Відправити"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="comment-time">
                        <small v-if="comment.created_at_ago === comment.updated_at_ago">{{comment.created_at_ago}}</small>
                        <small v-else class="font-italic">Оновлено: {{comment.updated_at_ago}}</small>
                    </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</template>
<script>
export default {
    props: [
        'id'
    ],
    data(){
        return {
            article: {},
            isAuthorized: false,
            user_id: -1,
            imagePreview: '',
            users: [],
            newCommentText: '',
            commentIdEditIndex: -1,
            editCommentText: ''
        }
    },
    methods: {
         fetchUser(){
            if(!localStorage.current_token){
                this.isAuthorized = false;
                return;
            }
            fetch(`/api/auth/user?token=${localStorage.getItem('current_token')}`)
            .then(res => res.json())
            .then(res => {
                this.user_id = res.data.id;
                this.isAuthorized = true;
            })
            .catch(err => {
                console.log(err);
                this.isAuthorized = false;
            })
        },
        fetchArticle(){
                let headers = new Headers({
                    'Content-Type': 'application/json'
                });
                fetch(`/api/article/${this.id}`,{
                    headers: headers
                })
                .then(res => res.json())
                .then(res => {
                    this.article = res;
                })
                .catch(err => console.log(err));
        },
        deleteArticle(){
            if (!confirm("Ви дійсно бажаєте видалити запис?")) {
                return;
            }
            fetch(`/api/article/${this.article.id}`, {
                method: 'delete'
            })
            .then(res => {
                alert('Запис видалено!');
                 this.$router.push('/');
            })
        },
        sendNewComment(){
            if(!this.isAuthorized){
                alert('Потрібно здійснити вхід!');
                return;
            }
            if(this.newCommentText.length === 0){
                alert('Коментарій порожній!')
                return;
            }
            let self = this;
            fetch('/api/comments', {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'POST',
                body: JSON.stringify({
                    text: self.newCommentText,
                    author_id: self.user_id,
                    article_id: self.article.id
                })
            })
            .then(res => {
                this.fetchArticle();
                this.newCommentText = '';
            })
            .catch(err => console.log(err))
        },
        deleteComment(id){
            if(!confirm('Видалити коментарій?')){
                return;
            }
            fetch(`/api/comment/${id}`, {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'DELETE'
            })
            .then(res => {
                this.fetchArticle();
            })
        },
        enableCommentMode(id, text){
            if(this.commentIdEditIndex === id){
                this.commentIdEditIndex = -1;
                this.editCommentText = '';
                return;
            }
            this.commentIdEditIndex = id;
            this.editCommentText = text;
        },
        editComment(id){
            fetch(`/api/comment/${id}`, {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'PUT',
                body: JSON.stringify({
                    comment_id: id,
                    text: this.editCommentText
                })
            })
            .then(res => {
                this.fetchArticle();
                this.commentIdEditIndex = -1;
                this.editCommentText = '';
            })
            .catch(err => console.log(err));
        }
    },
    created(){
        this.fetchArticle();
        this.fetchUser();
    },
    computed: {
        isUserAuthor: function(){
            return this.user_id === this.article.author_id;
        },
        imagesLinksArray: function(){
            if(!this.article.images){
                return [];
            }
            return this.article.images.map(el => {
                return `http://kurswork.net/api/image/${el.id}`;
            });
        }
    }
}
</script>
<style scoped>
    .post-description{   
        margin-left: 76px;
        white-space: pre-wrap;
        word-break: break-word;
    }
    .card-text{
        white-space: pre-wrap;
        word-break: break-word;
    }
    .disabled-form{
        opacity: 0.5;
        pointer-events: none;
    }
    .comment-time{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
</style>
