<template>
    <div class="album py-5 bg-light">
       <div class="container">
           <div class="card card-default mb-2">
                <div class="card-header">Завантаження картинки (max: 2048KB)</div>
                    <div class="card-body">
                        <div class="row">
                            <div>
                                <input type="file" v-on:change="onImageChange" class="form-control">
                            </div>
                        </div>
                    </div>
                <div class="card-group">
                    <div class="card col-md-3" v-for="imgObj in article.images" :key="imgObj.id" 
                        v-bind:class="{'disabled-image' : imagesToDelete.indexOf(imgObj.id) !== -1}">
                       <div>
                            <button type="button" class="close" aria-label="Close" v-on:click="toggleImage(imgObj.id)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img class="card-img-top" :src="`http://kurswork.net/api/image/${imgObj.id}`" alt="Card image cap">
                    </div>
                    <div class="card col-md-3" v-for="(img, i) in imagePreview" :key="i">
                       <div class="">
                            <button type="button" class="close" aria-label="Close" v-on:click="deletePreview(i)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img class="card-img-top" :src="img" alt="Card image cap">
                    </div>
                </div>
            </div>
           <form class="form-group" @submit.prevent="saveArticle" method="post">
               <input class="form-control mb-2" type="text" v-model="article.title" />
               <textarea class="form-control mb-2" name="" rows="6" v-model="article.body"></textarea>
                <input type="submit" class="btn btn-success" value="Зберегти"/>
           </form>
       </div>
    </div>
</template>
<script>
export default {
    props: [
        'id'
    ],
     data(){
        return {
            article: {},
            isAuthorized: false,
            user_id: -1,
            imageFileData: [],
            imagePreview: [],
            imagesToDelete: []
        }
    },
    methods: {
        fetchUser(){
            fetch(`/api/auth/user?token=${localStorage.getItem('current_token')}`)
            .then(res => res.json())
            .then(res => {
                this.user_id = res.data.id;
                this.isAuthorized = true;
                this.checkUserRights();
            })
            .catch(err => {
                console.log(err);
                this.isAuthorized = false;
                alert('Помилка доступу!');
                this.$router.push('/');
            })
        },
        fetchArticle(){
                let headers = new Headers({'Content-Type': 'application/json'});
                fetch(`/api/article/${this.id}`, { headers: headers })
                .then(res => res.json())
                .then(res => {
                    this.article = res;
                    this.checkUserRights();
                })
                .catch(err=> console.log(err));
        },
        checkUserRights(){
            if(this.user_id !== -1 && typeof this.article.author_id !== 'undefined'){
                if(this.user_id !== this.article.author_id){
                     alert('Помилка доступу!');
                    this.$router.push('/');
                }
            }
        },
        toggleImage(id){
            let index = this.imagesToDelete.indexOf(id);
            if(index === -1){
                this.imagesToDelete.push(id);
            }
            else{
                this.imagesToDelete.splice(index, 1);
            }
        },
        saveArticle(){
            let self = this;
            fetch(`/api/article/${this.id}`, {
                headers: new Headers({'Content-Type': 'application/json'}),
                method: 'PUT',
                body: JSON.stringify({
                    article_id: self.article.id,
                    title: self.article.title,
                    body: self.article.body,
                    author_id: self.article.author_id
                })
            })
            .then(res => res.json())
            .then(() => this.uploadImages())
            .then(() => this.deleteImagesFromServer())
            .then(() => {
                alert('Зміни збережено!');
                this.$router.push('/');
            })
            //.then(res => this.uploadImages(res.id))
            .catch(err => console.log(err));
        },
        deleteImagesFromServer(){
            if(this.imagesToDelete.length > 0){
                this.deleteImageFromServer(0);
            }
        },
        deleteImageFromServer(id){
            fetch(`/api/image/${this.imagesToDelete[id]}`, {
                method: "DELETE"
            })
            .then(() => {
                if(id < this.imagesToDelete.length - 1){
                    this.deleteImageFromServer(id + 1);
                }
            })
            .catch(err => alert(err))
        },
        onImageChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                this.imageFileData.push(file);
                this.imagePreview.push(e.target.result);
            };
            reader.readAsDataURL(file);
        },
        uploadImages(){
            if(this.imageFileData.length > 0){
                this.uploadImage(0);
            }
        },
        uploadImage(i){
            let fd = new FormData();
            fd.append('image', this.imageFileData[i]);
            fd.append('article_id', this.article.id);
            fetch('/api/image', {
                method: "POST",
                body: fd
            })
            .then(() => {
                if(i < this.imageFileData.length - 1){
                    this.uploadImage(i+1);
                }
            })
        },
        deletePreview(id){
            this.imagePreview.splice(id, 1);
            this.imageFileData.splice(id, 1);
        }
    },
    created(){
        this.fetchUser();
        this.fetchArticle();
    }
}
</script>
<style scoped>
    button[aria-label='Close']{
        width: 24px;
        height: 24px;
        transition: transform 0.2s linear;
        box-sizing: border-box;
        outline: 0;
        border-color: transparent;
    }
    button[aria-label='Close'] span{
        width: 24px;
        height: 24px;
        display: block;
        margin-top: -4px;
    }
    .disabled-image img{
        opacity: 0.5;
    }
    .disabled-image button[aria-label='Close']{
        transform: rotate(45deg);
    }
     .disabled-image button[aria-label='Close'] span{
         color: #17a2b8;
     }
   
</style>
