<template>
<div>
 <footer id="footer" class="blog-footer bg-info text-white">
    <div class="container pt-5">
        <p class="float-right"><a class="text-white" href="#">Наверх ⯅</a></p>
        <p>© 2017-2018 ЖДТУ · Коритний А. С. · ПІ-55</p>
      </div>
</footer>
</div>
   
</template>
<style scoped>
    #footer{
        min-height: 150px;
    }
</style>
