<template>
    <div class="container mb-3 pt-3">
      <h1>Логін</h1>
        <div class="alert alert-danger" v-if="error">
            <p>There was an error, unable to sign in with those credentials.</p>
        </div>
        <form autocomplete="off" @submit.prevent="login" method="post">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" class="form-control" v-model="password" required>
            </div>
            <button type="submit" class="btn btn-default">Ввійти</button>
        </form>
    </div>
</template>
<script>
  export default {
    data(){
      return {
        email: null,
        password: null,
        error: false
      }
    },
    methods: {
      login(){
        let self = this;
        fetch('api/auth/login', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({email: self.email, password: self.password})
        })
        .then(res => res.json())
        .then(res => {
          if(res.status === "error"){
            alert('Перевірте дані!');
            return;
          }
          localStorage.setItem('current_token', res.currentToken);
          this.$eventBus.$emit('refreshUser');
          this.$router.push('/')
        })
        .catch(err => {
          alert(err);
        })
      }
    }
  } 
</script>