<template>
<div class="bg-light">
    <div class="container">
        <img src="../../images/homeimage.jpg" class="mt-3 mb-3 img-fluid" alt="">
        <h1>ПРИХИСТИТИ <span class="text-info">ХВОСТИК</span></h1>
        <p>Перш ніж купувати собаку чи кота – зайдіть до нас. У притулку знайдуться друзі будь-кому до душі – великі, маленькі, охоронці, компаньйони, лінивці та непосидьки. Коли ми беремо тваринку з притулку, то рятуємо одразу трьох: тваринку, яку забрали додому, бездомну тварину з вулиці, що займе звільнене місце у притулку, і, звичайно, Людину в собі. Не купуй – прихисти, адже справжня дружба не продається!</p>
        <h2>ПРИХИСТИТИ — ПРОСТО.</h2>
        <div class="row">
        <ul class="ml-4 col-md-6">
            <li>Нерідко собаки потрапляють до притулку тому, що попередні господарі просто відмовилися від них. Забираючі собаку з притулку, ви рятуєте маленьке життя та отримуєте найвірнішого друга</li>
            <li>Доросла собака піддається навчанню так само як і цуценя, від тебе потрібна любов і трохи часу щодня перший період адаптації</li>
            <li>Прогулянки подовжують життя — з новим другом в твоєму житті стане більше руху та задоволення</li>
        </ul>
        </div>
    </div>
</div>
</template>
