<template>
    <nav class="navbar navbar-dark bg-dark shadow-sm">
       <div class="container">
           <div class="row container-fluid">
                <router-link to="/" class="navbar-brand align-items-center">
                    <img id="logo" src="../../icons/icon2.png" alt="" class="col-sm">
                </router-link>
           </div>
           <div class="row justify-content-between" style="flex-grow: 1;">
               <div class="col d-flex flex-wrap justify-content-between">
                    <div class="d-flex flex-wrap">
                        <router-link to="/" class="mr-3">
                            <p class="text-info">Головна</p>
                        </router-link>
                        <router-link to="/articles" class="mr-3">
                            <p class="text-info">Тваринки</p>
                        </router-link>
                        <router-link to="/about" class="mr-3">
                            <p class="text-info">Про нас</p>
                        </router-link>
                        <router-link to="/article/create" class="mr-3" v-if="isAuthorized">
                            <p class="text-info">Створити запис</p>
                        </router-link>
                    </div>
                    <div class="d-flex" v-if="isAuthorized">
                        <p class="mb-2 mr-3 text-secondary">Ви ввійшли як: <span class="text-success">{{userName}}</span></p>
                        <a href="#" class="text-danger" v-on:click="logout">Вийти</a>
                    </div>
                    <div class="d-flex" v-if="!isAuthorized">
                        <router-link to="/login" class="mr-1">Логін </router-link>
                        <a href="#" class="mr-1"> / </a>
                        <router-link to="/register"> Реєстрація</router-link>
                    </div>
                </div>
            </div>
       </div>
    </nav>
</template>
<script>
export default {
    data(){
        return {
            isAuthorized: false,
            userName: "",
            user_id: -1
        }
    },
    methods: {
        fetchUser(){
            if(localStorage.getItem('current_token') == 'undefined' || !localStorage.current_token ){
                this.isAuthorized = false;
                return;
            }
            
            fetch(`/api/auth/user?token=${localStorage.getItem('current_token')}`)
            .then(res => res.json())
            .then(res => {
                if(res.error == "token_not_provided"){
                    this.isAuthorized = false;
                    return;
                }
                this.userName = res.data.name;
                this.user_id = res.data.id;
                this.isAuthorized = true;
            })
            .catch(err => {
                this.isAuthorized = false;
            })
        },
        logout(){
            if(!localStorage.current_token){
                this.isAuthorized = false;
                this.$router.push('/');
                return;
            }
            if (!confirm("Вийти з аккаунту?")) {
                return;
            }
            fetch(`/api/auth/logout?token=${localStorage.getItem('current_token')}`)
            .then(res => {
                this.isAuthorized = false;
                localStorage.removeItem('current_token');
                this.$router.push('/');
            })
            .catch(err => {
                console.log(err);
            })
        }
    },
    created(){
        this.fetchUser();
        this.$eventBus.$on('refreshUser', () => this.fetchUser());
    }
}
</script>

<style scoped>
    #logo{
        max-width: 300px;
        max-height: 90px;
    }
</style>
