<template>
    <div class="container mb-3">
        <h1>Реєстрація на порталі</h1>
        <div class="alert alert-danger" v-if="error && !success">
            <p>There was an error, unable to complete registration.</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>Registration completed. You can now <router-link :to="{name:'login'}">sign in.</router-link></p>
        </div>
        <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.name }">
                <label for="name">Ім'я</label>
                <input type="text" id="name" class="form-control" v-model="name" required>
                <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.email }">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error': error && errors.password }">
                <label for="password">Пароль (мінімум: 6 символів)</label>
                <input type="password" id="password" class="form-control" v-model="password" required>
                <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
            </div>
            <button type="submit" class="btn btn-default">Відправити</button>
        </form>
    </div>
</template>
<script> 
    export default {
        data(){
            return {
                name: '',
                email: '',
                password: '',
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            register(){
                let self = this;
                fetch('api/auth/register', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({name: self.name, email: self.email, password: self.password})
                })
                .then(res => res.json())
                .then(res => {
                    if(res.status === 'success'){
                        alert('Аккаун успішно створено!');    
                        localStorage.setItem('current_token', res.currentToken);
                        this.fetchUser(res.currentToken);
                    }
                    else{
                        alert('Перевірте дані!');
                    }
                })
                .catch(err => {
                    alert(err);
                })
                          
            },
            fetchUser(token){
                fetch(`/api/auth/user?token=${token}`)
                .then(res => res.json())
                .then(res => {
                    if(res.status == 'success'){
                        this.$eventBus.$emit('refreshUser');
                        this.$router.push('/');
                    }
                })
                .catch(err => {
                    console.log(err);
                })
            }
        }
    }
</script>