<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">File Upload Component</div>
                    <div class="card-body">
                       <div class="row">
                          <div class="col-md-3" v-if="image">
                              <img :src="image" class="img-responsive" height="70" width="90">
                           </div>
                          <div class="col-md-6">
                              <input type="file" v-on:change="onImageChange" class="form-control">
                          </div>
                          <div class="col-md-3">
                             <button class="btn btn-success btn-block" @click="uploadImage">Upload Image</button>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                image: '',
                imageFileData: null
            }
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.imageFileData = files[0];
                this.createImage(this.imageFileData);
                console.log('wokr change')
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                    console.log('wokr result')
                };
                reader.readAsDataURL(file);
                console.log('wokr read')
            },
            uploadImage(){
                let self = this;
                let fd = new FormData();
                fd.append('image', this.imageFileData);
                fetch('/api/image',{
                    method: "POST",
                    body: fd
                })
                .then(res => {
                    console.log(res);
                    console.log(fd)
                })
            }
        }
    }
</script>